@model Catálogo_de_Empleados_Rosa_Icela_Contreras_Ocampo.Models.EmployeePositionModel

@{
    ViewBag.Title = "Index";
}

<style>
    .row {
        margin-top: 2rem;
    }
</style>

<h2>Catálogo de empleados</h2>

<div class="row">
    <div class="col-12" style="text-align:right">
        <a class="btn btn-primary" data-toggle="modal" href="#modalAgregar">Agregar</a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table table-dark">
                <tr>
                    <th>ID</th>
                    <th>Fecha de Creación </th>
                    <th>Nombre Completo</th>
                    <th>RFC</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Eliminado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.datos)
                {
                    <tr>
                        <td class="text-center">@item.Id</td>
                        <td class="text-center">@item.CreationDate.Value.ToShortDateString()</td>
                        <td class="text-center">@item.Name @item.LastName </td>
                        <td class="text-center">@item.RFC</td>
                        <td class="text-center">@item.Email</td>
                        <td class="text-center">@item.PhoneNumber</td>
                        <td class="text-center">
                            @if (item.IsDeleted == true)
                            {
                                <div align="center">
                                    <img src="../../icons/checked_checkbox_50px.png" height="15" width="15" />
                                </div>
                            }
                        </td>
                        <td>
                            <a href="~/rco_Contacto/Buscar/@item.Id" class="btn "><img src="../../icons/eye_50px.png" height="20" width="20" /></a>
                            <a href="~/rco_Contacto/Editar/@item.Id" class="btn "><img src="../../icons/edit_row2_50px.png" height="20" width="20" /></a>
                            @if (item.IsDeleted == true)
                            {
                                <a href="~/rco_Contacto/BajaLogica/@item.Id" class="btn "><img src="../../icons/trash_50px.png" height="15" width="15" /></a>
                            }
                            else
                            {
                                <a href="~/rco_Contacto/BajaLogica/@item.Id" class="btn "><img src="../../icons/Checkmark_50px.png" height="15" width="15" /></a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@* Modal para agregar nuevo empleado *@
@using (Html.BeginForm("Add", "Employee", FormMethod.Post))
{
    <div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="tituloModal" aria-hidden="true" style="display:none">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h5 class="modal-title" id="tituloModal">Nuevo empleado</h5>
                </div>
                <div class="modal-body">
                    <style>
                        .col-md-4, .col-md-12 {
                            margin-top: 3rem;
                        }

                        .btn-primary {
                            margin-top: 7rem;
                            margin-right: 30px;
                        }
                    </style>


                    <form class="row g-3">
                        <h3 style="border-left:190px;">Nuevo empleado</h3>
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.Employee.Name, "*Nombre")
                            @Html.TextBoxFor(m => m.Employee.Name, new { @class = "form-control" })
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(m => m.Employee.LastName, "*Apellidos")<br />
                            @Html.TextBoxFor(m => m.Employee.LastName, new { @class = "form-control" })
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(m => m.Employee.Birthday, "*Fecha de Nacimiento")<br />


                            <input type="date" asp-for="Employee.Birthday" id="Employee.Birthday" name="Birthday"
                                   style="width: 260px; height: 35px; border-radius: 5px; border-color: lightgray;"
                                   min="1900-01-01" max="@DateTime.Today" required>

                           
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(m => m.Employee.RFC, "*RFC")<br />
                            @Html.TextBoxFor(m => m.Employee.RFC, new { @class = "form-control" })
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(m => m.Employee.Email, "*Email")<br />
                            @Html.TextBoxFor(m => m.Employee.Email, new { @class = "form-control" })
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(m => m.Employee.PhoneNumber, "*Teléfono")<br />
                            @Html.TextBoxFor(m => m.Employee.PhoneNumber, new { @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Employee.PositionId, "*Puesto")<br />
                            @Html.DropDownListFor(m => m.Employee.PositionId, Model.ListPositions, new { @style = "width: 260px; height: 35px; border-radius: 5px; border-color: lightgray;" })
                            @Html.ValidationMessageFor(m => m.Employee.PositionId, "", new { @class = "text-danger" })
                        </div>
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="bottom-right" style="text-align:right">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

